{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "plugins": ["react", "jsx-a11y"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true,
    "mocha": true
  },
  "globals": {
    "chai": true,
    "sinon": true
  },
  "rules": {
    "react/jsx-no-bind": 1,
    "semi": [ "error", "always", { "omitLastInOneLineBlock": true }],
    "no-console": 2,
    "func-names": 0,
    "react/no-find-dom-node": 0,
    "prefer-arrow-callback": 0,
    "no-buffer-constructor": 0,
    "node/no-deprecated-api": 0,
    "react/prop-types": [2, { "skipUndeclared": true }],
    "object-curly-spacing": ["error", "always"]
  }
}